global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets:
        - '192.168.56.10:9100'
        - '192.168.56.20:9100'
        - '192.168.56.30:9100'

  - job_name: 'petclinic-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['192.168.56.20:30080']

rule_files:
  - 'alerts.yml'

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['localhost:9093']
